In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\python\lib\site-packages (4.3.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\python\lib\site-packages (from pymongo) (2.2.1)

# Importing pymongo, creating a database, inserting one document

In [23]:

import pymongo

myclient = pymongo.MongoClient('mongodb://localhost:27017')
mydb = myclient['Telephone']
information = mydb['directory']

record1 = {'mobile' : 7355280251, 'name': 'chandrika', 'gender' : 'female', 'age' : 21}

x = information.insert_one(record1)
print(x)

<pymongo.results.InsertOneResult object at 0x00000253C48B1640>

# Inserting Many document

In [24]:
record2 = [       
           {  'mobile':9122476671, 'name' :'donald', 'gender' : 'male', 'age' : 50} ,
            {'mobile' :9739887479,'name': 'rohit', 'gender' : 'male', 'age' : 65} ,
    {'mobile' : 1552959487,'name': 'mithali', 'gender' : 'female', 'age' : 25} ,  
   {'mobile' : 7901088559,'name': 'virat', 'gender' : 'male', 'age' : 30} 
]
y = information.insert_many(record2)
print(y)

<pymongo.results.InsertManyResult object at 0x00000253C48B13A0>

# Finding

In [26]:
for x in information.find():
    print(x)

{'_id': ObjectId('636ca08ad9f43ad78f80da3a'), 'mobile': 7355280251, 'name': 'chandrika', 'gender': 'female', 'age': 21}
{'_id': ObjectId('636ca153d9f43ad78f80da3b'), 'mobile': 9122476671, 'name': 'donald', 'gender': 'male', 'age': 50}
{'_id': ObjectId('636ca153d9f43ad78f80da3c'), 'mobile': 9739887479, 'name': 'rohit', 'gender': 'male', 'age': 65}
{'_id': ObjectId('636ca153d9f43ad78f80da3d'), 'mobile': 1552959487, 'name': 'mithali', 'gender': 'female', 'age': 25}
{'_id': ObjectId('636ca153d9f43ad78f80da3e'), 'mobile': 7901088559, 'name': 'virat', 'gender': 'male', 'age': 30}

# Update One

In [28]:
myquery = { 'age' : 25}
newvalue = { '$set' : {'age' : 35} }
information.update_one(myquery, newvalue)

for x in information.find():
    print(x)

{'_id': ObjectId('636ca08ad9f43ad78f80da3a'), 'mobile': 7355280251, 'name': 'chandrika', 'gender': 'female', 'age': 21}
{'_id': ObjectId('636ca153d9f43ad78f80da3b'), 'mobile': 9122476671, 'name': 'donald', 'gender': 'male', 'age': 50}
{'_id': ObjectId('636ca153d9f43ad78f80da3c'), 'mobile': 9739887479, 'name': 'rohit', 'gender': 'male', 'age': 65}
{'_id': ObjectId('636ca153d9f43ad78f80da3d'), 'mobile': 1552959487, 'name': 'mithali', 'gender': 'female', 'age': 35}
{'_id': ObjectId('636ca153d9f43ad78f80da3e'), 'mobile': 7901088559, 'name': 'virat', 'gender': 'male', 'age': 30}

# Update Many

In [30]:
myquery = {'gender' : 'female'}
newvalues = {'$set' : {'city' : 'chennai'}}
information.update_many(myquery, newvalues)

for x in information.find():
    print(x)

{'_id': ObjectId('636ca08ad9f43ad78f80da3a'), 'mobile': 7355280251, 'name': 'chandrika', 'gender': 'female', 'age': 21, 'city': 'chennai'}
{'_id': ObjectId('636ca153d9f43ad78f80da3b'), 'mobile': 9122476671, 'name': 'donald', 'gender': 'male', 'age': 50}
{'_id': ObjectId('636ca153d9f43ad78f80da3c'), 'mobile': 9739887479, 'name': 'rohit', 'gender': 'male', 'age': 65}
{'_id': ObjectId('636ca153d9f43ad78f80da3d'), 'mobile': 1552959487, 'name': 'mithali', 'gender': 'female', 'age': 35, 'city': 'chennai'}
{'_id': ObjectId('636ca153d9f43ad78f80da3e'), 'mobile': 7901088559, 'name': 'virat', 'gender': 'male', 'age': 30}

In [31]:
myquery = {'gender' : 'male'}
newvalues = {'$set' : {'city' : 'bangalore'}}
information.update_many(myquery, newvalues)

for x in information.find():
    print(x)

{'_id': ObjectId('636ca08ad9f43ad78f80da3a'), 'mobile': 7355280251, 'name': 'chandrika', 'gender': 'female', 'age': 21, 'city': 'chennai'}
{'_id': ObjectId('636ca153d9f43ad78f80da3b'), 'mobile': 9122476671, 'name': 'donald', 'gender': 'male', 'age': 50, 'city': 'bangalore'}
{'_id': ObjectId('636ca153d9f43ad78f80da3c'), 'mobile': 9739887479, 'name': 'rohit', 'gender': 'male', 'age': 65, 'city': 'bangalore'}
{'_id': ObjectId('636ca153d9f43ad78f80da3d'), 'mobile': 1552959487, 'name': 'mithali', 'gender': 'female', 'age': 35, 'city': 'chennai'}
{'_id': ObjectId('636ca153d9f43ad78f80da3e'), 'mobile': 7901088559, 'name': 'virat', 'gender': 'male', 'age': 30, 'city': 'bangalore'}

# Delete One

In [32]:
myquery = { 'age' : 35 }

information.delete_one(myquery)

for x in information.find():
    print(x)

{'_id': ObjectId('636ca08ad9f43ad78f80da3a'), 'mobile': 7355280251, 'name': 'chandrika', 'gender': 'female', 'age': 21, 'city': 'chennai'}
{'_id': ObjectId('636ca153d9f43ad78f80da3b'), 'mobile': 9122476671, 'name': 'donald', 'gender': 'male', 'age': 50, 'city': 'bangalore'}
{'_id': ObjectId('636ca153d9f43ad78f80da3c'), 'mobile': 9739887479, 'name': 'rohit', 'gender': 'male', 'age': 65, 'city': 'bangalore'}
{'_id': ObjectId('636ca153d9f43ad78f80da3e'), 'mobile': 7901088559, 'name': 'virat', 'gender': 'male', 'age': 30, 'city': 'bangalore'}

# Delete Many

In [33]:
myquery = { 'gender' : 'male' }

information.delete_many(myquery)

for x in information.find():
    print(x)

{'_id': ObjectId('636ca08ad9f43ad78f80da3a'), 'mobile': 7355280251, 'name': 'chandrika', 'gender': 'female', 'age': 21, 'city': 'chennai'}